<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!--配置实体类 类型的别名-->
	<typeAliases>
		<package name="com.team.house.houseback2.entity"></package>
	</typeAliases>
	<!--配置分页的插件-->
	<plugins>
		<plugin interceptor="com.github.pagehelper.PageInterceptor"></plugin>
	</plugins>

	<!-- 加载sql映射文件 -->
	<mappers>
		 <!--一个一个加载-->
		<!--<mapper resource="com/team/dao/GradeMapper.xml"/>
		<mapper resource="com/team/dao/StudentsMapper.xml"/>-->
		<!--加载指定包下的所有sql映射文件-->
		<package name="com.team.house.houseback2.mapper"></package>

	</mappers>
</configuration>
